[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
openai-whisper = "*"
ffmpeg = "*"
flask = "1.1.2"
itsdangerous = "2.0.1"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
